# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Bb]uild/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.mdb
*.opendb
*.VC.db

# Rider/VS/VSCode
.vscode/
.idea/
*.DotSettings.user

# OS
.DS_Store
Thumbs.db
# --- Allow WebGL site on GitHub Pages ---
!docs/
!docs/index.html
!docs/TemplateData/
!docs/TemplateData/**
!docs/Build/
!docs/Build/**